html, body, div, h1, h2, h3, h4, h5, h6, p, input, label, button, li, img, figure, figcaption
 {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  /* font-family: 'Lato', sans-serif; */
  }


.cards-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.team-card {
  width: 200px;
}

.logo {
  width: 100%;
  height: auto;
  border-radius: 10%;
}
