html, body, div, h1, h2, h3, h4, h5, h6, p, input, label, button, li, img, figure, figcaption
 {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  /* font-family: 'Lato', sans-serif; */
  }

 /*CSS TransitionGroup Classes*/
  /* appear - on page load */
  
  .fade-appear {
    opacity: 0;
    z-index: 1;
  }

  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  /* enter */
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  /* exit */
  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-out;
  }

  .fade-exit-done {
    opacity: 0;
  }

/* Card CSS Transitions */

  .fade-card-appear {
    opacity: 0;
    z-index: 1;
  }

  .fade-card-appear.fade-card-appear-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }

  /* enter */
  .fade-card-enter {
    opacity: 0;
    z-index: 1;
  }

  .fade-card-enter.fade-card-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }

  /* exit */
  .fade-card-exit {
    opacity: 1;
  }

  .fade-card-exit.fade-card-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-out;
  }

  .fade-card-exit-done {
    opacity: 0;
  }

  /* Status Display React CSS Transitions */

  .fade-status-appear {
    opacity: 0;
    z-index: 1;
  }

  .fade-status-appear.fade-status-appear-active {
    opacity: 1;
    transition: opacity 2000ms ease-in;
  }

  /* enter */
  .fade-status-enter {
    opacity: 0;
    z-index: 1;
  }

  .fade-status-enter.fade-status-enter-active {
    opacity: 1;
    transition: opacity 2000ms ease-in;
  }

  /* exit */
  .fade-status-exit {
    opacity: 1;
  }

  .fade-status-exit.fade-status-exit-active {
    opacity: 0;
    transition: opacity 2000ms ease-out;
  }

  .fade-status-exit-done {
    opacity: 0;
  }

 /*^^^^^CSS TransitionGroup Classes^^^^^*/


.container__game-board {
  margin: 20px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.container__card {
  display: grid;
  width: 200px;
  margin-bottom: 50px;
  align-items: center;
  justify-items: center;
  border-radius: 8%;
  border: 5px rgb(202, 202, 202) solid;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.container__card--clicked {
  border: 5px rgb(194, 104, 104) solid;
  box-shadow: 12px 12px 12px rgba(255, 0, 0, 0.25);
}

.card__logo {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.card__caption {
  padding: 10px;
  font-size: 0.75em;
}

.container__score-board {
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 2em;
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.container__round {
  padding: 10px;
  display: flex;
  align-items: center;
}

.container__score {
  padding: 10px;
  display: flex;
  align-items: center;
}

.container__high-score {
  padding: 10px;
  display: flex;
  align-items: center;
}

.text__score {
  font-size: 1.5em;
  padding: 10px;
}

.text__label {
  font-size: 1em;
  padding: 10px;
}

.text__status {
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 5em;
}

.container__status {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.container__status--show {
  opacity: 1;
  /* background-color: rgba(201, 201, 201, 0.85); */
  pointer-events: none;
}

.container__status--hide {
  opacity: 0;
  pointer-events: none
}